"*":
  "android-debugger": {}
  "atom-beautify":
    _analyticsUserId: "2928ffc7-ffea-49e3-b8e1-b91368dee3d1"
    arduino_configPath: "/home/searking/.atom/uncrustify.cfg"
    c_configPath: "/home/searking/.atom/uncrustify.cfg"
    cpp_configPath: "/home/searking/.atom/uncrustify.cfg"
    cs_configPath: "/home/searking/.atom/uncrustify.cfg"
    java_configPath: "/home/searking/.atom/uncrustify.cfg"
  "atom-cscope":
    cscopeSourceFiles: ".c .cc .cpp .h .hpp .java"
  "atom-ctags":
    GotoSymbolKey: [
      "ctrl"
    ]
    autoBuildTagsWhenActive: true
    buildTimeout: 300000
    cmdArgs: "--exclude=*~ --exclude=*.class --exclude=~* --exclude=.git/ --exclude=.tags[0-9]* --exclude=tags --exclude=cscope.files  --exclude=cscope.in.out  --exclude=cscope.out  --exclude=cscope.po.out"
  "atom-terminal":
    app: "/usr/bin/gnome-terminal"
    args: "--title=\"gnome-terminal-on-atom\""
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
  core:
    audioBeep: false
    disabledPackages: [
      "symbols-view"
      "markdown-preview"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "[Tt]humbs.db"
      "*~"
      "tags"
      ".tags"
      ".tags[0-9]*"
      "*.o"
      "*.lo"
      "*.la"
      ".libs"
      "*.so"
      "*.so.[0-9]"
      "*.a"
      "*.pyc"
      "*.pyo"
      "__pycache__"
      "*.rej"
      "*~"
      "#*#"
      ".#*"
      ".*.swp"
      ".DS_Store"
      ".DS_Store"
      "*.class"
      "*.jar"
      "*.rar"
      "*.zip"
      "cscope.files"
      "cscope.out"
      "cscope.in.out"
      "cscope.in.files"
      "cscope.po.out"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Microsoft YaHei"
    fontSize: 13
    invisibles: {}
    tabLength: 4
  "exception-reporting":
    userId: "3e7650fb-7f09-2225-ecd9-24a24ac508ba"
  "find-and-replace": {}
  "git-plus": {}
  linter:
    showErrorTabLine: true
  "linter-javac": {}
  "linter-shellcheck":
    enableNotice: true
  "markdown-preview-plus": {}
  "markdown-writer": {}
  minimap:
    plugins:
      bookmarks: true
      codeglance: true
      "find-and-replace": true
      "git-diff": true
      "google-repo-diff": true
      linter: true
      "minimap-autohide": true
      "minimap-hide": true
      pigments: false
      selection: true
      "split-diff": true
    scrollAnimation: true
  "minimap-codeglance": {}
  "navigation-history":
    maxNavigationsToRemember: 10000
  "python-tools": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
".python.source":
  editor:
    autoIndentOnPaste: true
"linter-javac":
  # The path to javac.   The default (javac) should work as long as you have it
  # in your system PATH.
  javaExecutablePath: "javac"
  # Extra classpath.  This will be appended to the classpath when executing javac.
 classpath: ""
