"*":
  "exception-reporting":
    userId: "3e7650fb-7f09-2225-ecd9-24a24ac508ba"
  core:
    disabledPackages: [
      "symbols-view"
      "markdown-preview"
    ]
    audioBeep: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "[Tt]humbs.db"
      "*~"
      ".tags[0-9]*"
      "*.o"
      "*.lo"
      "*.la"
      ".libs"
      "*.so"
      "*.so.[0-9]"
      "*.a"
      "*.pyc"
      "*.pyo"
      "__pycache__"
      "*.rej"
      "*~"
      "#*#"
      ".#*"
      ".*.swp"
      ".DS_Store"
      ".DS_Store"
      "*.class"
      "*.jar"
      "*.rar"
      "*.zip"
    ]
    destroyEmptyPanes: false
  editor:
    invisibles: {}
    fontSize: 13
    tabLength: 4
    backUpBeforeSaving: true
    fontFamily: "Microsoft YaHei"
  "atom-ctags":
    GotoSymbolKey: [
      "ctrl"
    ]
    autoBuildTagsWhenActive: true
    buildTimeout: 300000
  "atom-cscope": {}
  "vim-mode": {}
  "android-debugger": {}
  "navigation-history":
    maxNavigationsToRemember: 10000
  minimap:
    scrollAnimation: true
    plugins:
      "google-repo-diff": true
      "minimap-autohide": true
      bookmarks: true
      codeglance: true
      "find-and-replace": true
      "git-diff": true
      "minimap-hide": true
      linter: true
      pigments: false
      selection: true
      "split-diff": true
  "git-plus": {}
  "atom-beautify":
    _analyticsUserId: "2928ffc7-ffea-49e3-b8e1-b91368dee3d1"
    cpp_configPath: "/home/searking/.atom/uncrustify.cfg"
    c_configPath: "/home/searking/.atom/uncrustify.cfg"
    cs_configPath: "/home/searking/.atom/uncrustify.cfg"
    arduino_configPath: "/home/searking/.atom/uncrustify.cfg"
    java_configPath: "/home/searking/.atom/uncrustify.cfg"
  "minimap-codeglance": {}
  "linter-shellcheck":
    enableNotice: true
  "atom-terminal":
    app: "/usr/bin/gnome-terminal"
    args: "--title=\"gnome-terminal-on-atom\""
  linter:
    showErrorTabLine: true
  welcome:
    showOnStartup: false
  "markdown-writer": {}
  "markdown-preview-plus": {}
