"*":
  "exception-reporting":
    userId: "3e7650fb-7f09-2225-ecd9-24a24ac508ba"
  core:
    disabledPackages: [
      "symbols-view"
      "run-in-terminal"
    ]
    audioBeep: false
  editor:
    invisibles: {}
    fontSize: 13
    tabLength: 4
  "atom-chs-menu": {}
  "atom-ctags":
    GotoSymbolKey: [
      "ctrl"
    ]
  "javascript-snippets": {}
  "file-icons": {}
  "vim-mode": {}
  "navigation-history":
    maxNavigationsToRemember: 10000
  "run-in-terminal":
    save_before_launch: false
  Termrk:
    useDefaultKeymap: false
    defaultHeight: 81
  minimap:
    scrollAnimation: true
  "tree-view-finder": {}
  "git-plus": {}
  "language-marko": {}
  "pretty-json": {}
  "atom-beautify":
    _analyticsUserId: "2928ffc7-ffea-49e3-b8e1-b91368dee3d1"
    cpp_configPath: "/home/searking/.atom/uncrustify.cfg"
    c_configPath: "/home/searking/.atom/uncrustify.cfg"
    cs_configPath: "/home/searking/.atom/uncrustify.cfg"
    arduino_configPath: "/home/searking/.atom/uncrustify.cfg"
    java_configPath: "/home/searking/.atom/uncrustify.cfg"
  welcome:
    showOnStartup: true
  "project-manager": {}
  "linter-shellcheck": {}
